/* Layout */
:root {
    --primary: rgba(5, 8, 184, 0.1);
    --secondary: white;
    --highlights: #eda109;
  }
  
  body {
    margin: 0;
    padding: 0;
    color: #F5F3F5;
    background-color: var(--primary);
    font-family: Arial, sans-serif;
  }
  
  a {
    color: var(--secondary);
    text-decoration: none;
  }
  
  .app-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner .column-header-name {
    margin-left: unset;
}
  
  /* Banner */
  
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    height: 5vh;
    background-color: rgba(72, 40, 120, 0.8);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Navbar */
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  /* Brain logo */
  
  .logo-banner {
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  
  .logo-banner h3 {
    font-size: 1.3rem;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 1.2rem;
  }
  
  .logo-banner img {
    display: inline;
    width: 4rem;
    margin-left: 1vw;
  }
  
  /* Title */
  
  h1 {
    font-size: 2rem;
    text-align: center;
    padding: 30px;
  }
  
  /* Link to documentation */
  
  .doc-link {
    border: 1px solid var(--secondary);
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 10px;
    width: 100px;
    text-align: center;
  }

  .doc-link:hover {
    border: 1px solid #13070C;
    background-color: #e3d1ff;
    color: #13070C;
  }

  .doc-link-download {
    border: 1px solid var(--secondary);
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 10px;
    color: white;
    font-size: 16px;
    width: 140px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-align: center;
  }

  .doc-link-download:hover {
    border: 1px solid #13070C;
    background-color: #e3d1ff;
    color: #13070C;
  }
  
  /* Main body */
  
 .main-body {
   height: 80vh;
   width: 95vw;
   margin: auto;
   margin-top: 3.5vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   border-radius: 10px;
   background-color: white;
 }
  
  .hover-default-text {
    color: grey;
    text-align: center;
    margin-top: 23vh;
  }

  .main-panel {
    height: 80vh;
    width: 62vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #e3d1ff;
    margin: auto;
    margin-right: 0px;
    order: 2;
  }

  .left-panel {
    height: 80vh;
    width: 30vw;
    margin-top: 8vh;
    margin-right: -2vw;
    display: flex;
    flex-direction: column;
  }

  .div-projection {
    order: 1;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 4vh;
  }

  .map-style {
    order: 1;
  }

  .projection-selector {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2vh;
  }

  .interactive-map {
    order: 2;
    height: 60vh;
    margin-bottom: 7vh;
  }

  .hover-charts {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    width: 20vw;
    height: 67vh;
  }
  
  /* Footer */
  
  footer {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    background-color: rgba(72, 40, 120, 0.8);
    color: white;
    font-size: 1rem;
  }
  
  footer p {
    padding: 10px;
    margin: 5px 0px;
  }
  
  footer p:first-child {
    border-right: 2px solid white;
  }
  
  footer a {
    text-decoration: underline;
    color: white;
  }
  
  /* Default welcome section */
  
  /* h2 {
    font-size: 2rem;
  } */